body {
	margin-top: 50px;
}
.welcome {
	padding: 40px 15px 20px;
	text-align: center;
}

.form {
    width: 100%;
    text-align: center;
	padding: 20px 15px 40px;
}

.row, .col{
    display: inline-block;
}

.form-control{
	padding: 0;
}