.body-container{
	padding: 25px 100px
}

.title{
	margin: 0;
    margin-bottom: 25px
}

.text{
	font-size: 24px
}


.title-button, .with-button{
	display: inline-block
}

.sub-title{
	margin: 0
}

.title-button{
	margin-left: 10px
}
