.title{
	margin: 25px 0
}

.text{
	font-size: 24px
}


.edit-button, .sub-title{
	display: inline-block
}

.sub-title{
	margin: 0
}

.edit-button{
	margin-left: 10px
}

#country_name{
	display: inline-block
}