.body-container{
	padding: 25px 100px
}

.title{
	margin: 0;
    margin-bottom: 25px
}

.text{
	font-size: 24px
}


.edit-button, .sub-title{
	display: inline-block
}

.sub-title{
	margin: 0
}

.edit-button{
	margin-left: 10px
}

#country_name{
	display: inline-block
}