{% extends "finder/base.html" %}

{% block content %}

	<h2 class="title with-button">You're looking at the Country {{ country }}.</h2>
	<a href="{% url 'finder:country_edit' country.code %}" class="title-button btn btn-default">Edit</a>
	<a href="{% url 'finder:country_delete' country.code %}" class="title-button btn btn-default">Delete</a>

	{% if governments %}
		<h4 class="title">The Embassies sent by {{ country }} are:</h4>
		<ul>
			{% for government in governments %}
				<li><a href="{% url 'finder:embassy_info' government.id %}">{{ government }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<h4 class="title">There are no Embassies sent by {{ country }}</h4>
	{% endif %}
	
	{% if locations %}
		<h4 class="title">The Embassies stationed in {{ country }} are:</h4>
		<ul>
			{% for location in locations %}
				<li><a href="{% url 'finder:embassy_info' location.id %}">{{ location }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<h4 class="title">There are no Embassies in {{ country }}</h4>
	{% endif %}
	
{% endblock %}

