{% extends "finder/base.html" %}


{% block content %}
	<div class="welcome">
		<h1>Welcome to EmbassyEmergency</h1>
		<p class="lead">You can use this site to find Embassies based on their Country's origin and location.<br> You can also find all Embassies sent by or located in that Country.</p>
	</div>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="POST" class="dropdownForms">
  <div class="row">
    <div class="col">
      <div class="form-group">
		<div class="col">
			<label for="sel1">Choose 1st option</label>
		</div>
		<div class="col">
			<select class="form-control" id="sel1">
				<option>1st dropdown</option>
				<!-- more options here-->
			</select>
		</div>
      </div>
    </div>
    <div class="col">
		<div class="form-group">
			<div class="col">
			<label for="sel1">Choose 2nd option</label>
			</div>
			<div class="col">
				<select class="form-control" id="sel1">
					<option>2nd dropdown</option>
					<!-- more options here -->
				</select>
			</div>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-xs btn-default">Send</button>
    </div>
  </div>
</form>

{% endblock %}
